<!DOCTYPE html>
<html>
  <head>
    <title>Movie Review - The Moon Thieves</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h1>Thank you for your response! :]</h1>
<h2>The page will redirect after 5 seconds. Or click this <a href='/survey'>link</a> to view the result now.</h2>
    <script>

      function redirect () {
         setTimeout(myURL, 5000);
      }

      function myURL() {
        document.location.href = '/survey';
      }

      redirect ();
   </script>
    
  </body>
</html>